<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.4" targetFramework="net45" />
  <package id="Alea.Fody" version="3.0.4" targetFramework="net45" developmentDependency="true" />
  <package id="Fody" version="1.29.4" targetFramework="net45" developmentDependency="true" />
</packages>